@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-1 mt-1">
        <div class="container justify-content-center">
            <div class="d-flex w-100" style="max-width: 60%;">
                    
                <!-- Left: Logo -->
                <div class="d-flex align-items-center me-auto">
                    <a class="navbar-brand" href="#">
                        <img src="~/img/hades-symbol.svg" alt="Logo" class="logo">
                    </a>
                </div>
                    
                <!-- Center: Nav links -->
                <div class="d-flex justify-content-center align-items-center flex-grow-1">
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                        <ul class="navbar-nav fw-bold fs-5">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Store" asp-action="Index">Store</a>
                            </li>
                            @if (User.IsInRole("Admin") || User.IsInRole("Publisher"))
                            {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="VideoGame" asp-action="Index">Publishing</a>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
                    
                <!-- Right: User info -->
                <div class="d-flex align-items-center ms-auto">
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                        <ul class="navbar-nav fs-7">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">@User.Identity?.Name</a></li>
                            <li class="nav-item">
                                <form asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm" class="form-inline">
                                    <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Logout" onchange="this.form.submit()">Logout</a>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                        }
                        </ul>
                    </div>
                </div>
                    
            </div>
        </div>
    </nav>
</header>