@using Microsoft.Extensions.Localization
@using TT2_Exam.Utility
@inject IStringLocalizerFactory LocalizerFactory
@{
    var SharedLocalizer = LocalizerFactory.Create("SharedResources", "TT2_Exam");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TT2_Exam</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/aspform.css" asp-append-version="true"/>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>

<div class="d-flex flex-column min-vh-100">
    
    <!-- Header -->
    @await Html.PartialAsync("_Header")
    
    
    <!-- Body -->
    <div class="flex-grow-1 container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    
    <!-- Footer -->
    <footer class="footer text-muted mt-auto py-3">
        <div class="container">
            &copy; 2025 - TT2_Exam - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - 
            <a href="@Url.Action("SetCulture", "Culture", new { culture = "en-US", returnUrl = Context.Request.Path })" class="me-2">EN</a>
            <a href="@Url.Action("SetCulture", "Culture", new { culture = "lv-LV", returnUrl = Context.Request.Path })">LV</a>
        </div>
    </footer>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>