html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem black, 0 0 0 0.25rem black;
}

html {
  position: relative;
  min-height: 100%;
}

header {
  background: linear-gradient(to right, #291c49, #251a42);
}

header a:link, header a:visited {
  text-decoration: none;
  color: #d5dbea;
}

header .nav-link:hover, header .nav-link:focus {
  text-decoration: none;
  color: #84a9bf;
}

header .logo {
  height: 40px;
  margin: 0 0;
}

body {
  background: #274368 linear-gradient(to right, #274368, #5f1f78);
  color: #cdbada;
}

footer {
  background-color: #3c5267;
  color: gray;
}

footer a:link, footer a:visited {
  text-decoration: none;
  color: #81829e;
}

footer a:hover, footer a:active {
  text-decoration: none;
  color: #84a9bf;
}

a:link {
  color: #8970b3;
  text-decoration: none;
}

a:visited {
  color: #5c4ab6;
  text-decoration: none;
}

a:hover, a:active {
  color: #594c98;
  text-decoration: none;
}

th, td {
  color: #cdbada;
}

input, .form-control {
  color: white;
  background-color: #232557;
  border: 0;
}

input:disabled, .form-control:disabled {
  color: gray;
  background-color: #232557;
  border: 0;
}

input:hover, .form-control:hover {
  background-color: #27286c;
}

input:focus, .form-control:focus, input:active, .form-control:active {
  color: white;
  background-color: #232557;
  border: 0;
  outline: none;
  box-shadow: none;
  border: none;
}

label, .form-label {
  color: #8c8c8c;
}

button, .btn, .btn-link {
  text-decoration: none;
  color: #b8b8b8;
  border: none;
  background-color: #180b35;
}

.btn-link:hover {
  color: white;
}

button:hover, .bth:hover, .btn-primary:hover  {
  border: none;
  color: white;
  background-color: #1f0f45;
}

.user-nav .nav-link {
  color: #cdbada;
}

.user-nav .nav-link:hover, .user-nav .nav-link:focus {
  color: #9b89aa;
}

.user-nav .nav-link.active {
  background-color: #291c49;
}